name: Generate and Commit Docs

on:
  push:
    paths:
      - "lib/*"
      - "scripts/docs.py"
  workflow_dispatch:

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Tests
        run: make clean test

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Generate docs
        run: |
          for file in lib/*.h lib/Makefile; do
            python3 scripts/docs.py $file
          done
          scripts/index.sh

      - name: Commit and push updated docs
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/
          git commit --allow-empty -m "chore(docs): update generated documentation"
          git push origin HEAD:main
